﻿
@model IEnumerable<Proyecto_Final.Data.Entidades.Client>

<style>
    #botones {
        visibility: hidden;
    }
</style>
@{
    ViewData["Title"] = "Ml Peluqueria";
}

<br />
<br />
<p class="mt-5">
    <a asp-action="Create" class="btn btn-outline-primary">Crear Nuevo</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Regresar</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
            </div>
            <div class="panel-body">
                <table class="table-hover table-responsive table-striped table" id="MyTable2">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Apellido y Nombre")
                            </th>
                            <th id="ocultar">
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th id="ocultar">
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th id="ocultar">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayName("Acciones")
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayName($" {item.LastName}, {item.FirstName}")
                                </td>
                                <td id="ocultar">
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td id="ocultar">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td id="ocultar" style="text-overflow: ellipsis;">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square fa-xl" style="color: #FFD43B;"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info fa-xl" style="color: #74C0FC;"></i></a>
                                    <a asp-controller="Client" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro que desea eliminar este Cliente?');"><i class="fa-solid fa-trash fa-xl" style="color: #cb4f3a;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable2').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [10, 50, 100, -1],
                    [10, 50, 100, "Todos"]
                ]
            });
        });
    </script>
}

