@model Proyecto_Final.Data.Entidades.Service

@{
    ViewData["Title"] = "Ml Peluqueria";
}

<h1>Detalle</h1>

<div id="detalles-para-la-tarjeta" class="card my-5" style="max-width: 840px;">
    <div class="row detalle" >
        <div class="col-md-8">
            <img src="@Html.DisplayFor(model => model.ImageFullPath)" class="img-fluid img-detalle" />
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Descripcion).</p>
                <p class="card-text">Precio: @Html.DisplayFor(model => model.Precio)</p>
                <p class="card-text">Duracion: @Html.DisplayFor(model => model.Duracion) hs</p>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>


    